.stack
  .plant-1
    - for (var i = 0; i < 6; i++)
      .stem
        - for (var ii = 0; ii < 6; ii++)
          .leaf
  .pot
  .books
    - for (var i = 0; i < 6; i++)
      .book
.stack
  .stand
    .pot
    .plant-2
    .pot
    .plant-3
      - for (var i = 0; i < 14; i++)
        .stem
    .pot
    .plant-4
      -for (var i = 0; i < 9; i++)
        .leaf-2
      -for (var i = 0; i < 3; i++)
        .flower